# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 406ac78d610220bd82982941a610fb654ca87942baaf708c229976a6aba871a2d21439fe8453ca45b009d76c2c16e389d499961ec38146c2578165d1710b7ac5
  login: user
  password: changeme
test:
  secret_key_base: 0b97846e5e196683c5daadfafe8bc76e150f7cd1dba8afb0a860a779eaec8c4fd6875f77ba500fca3a54f2f3fa6b5242b71be32c911f262025d706d08d09b236

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  login: 
  password: 